Source: commithooks
Section: devel
Priority: extra
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: commithooks
Architecture: all
Depends: python
Suggests: trac, git-core, mercurial, darcs
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
